.btn {
  letter-spacing: 2px;
  text-decoration: none;
  color: #000;
  background: #EFA48B;
  position: relative;
  font-size: 1.5em;
  padding: 0.6em 1em;
  border-radius: 0.5em;
  box-shadow: 4px 4px #000;
  margin: 10px;
}

.btn:hover {
  box-shadow: 2px 2px #000;
  top: 2px;
  left: 2px;
}

.btn:active {
  box-shadow: none;
  top: 4px;
  left: 4px;
}
