.btn {
  letter-spacing: 2px;
  text-decoration: none;
  color: #000;
  background: #EFA48B;
  position: relative;
  font-size: 1.5em;
  padding: 4px 16px;
  border-radius: 8px;
  box-shadow: 4px 4px #000;
  margin-top: 12px;
}

.btn:hover {
  box-shadow: 2px 2px #000;
  top: 2px;
  left: 2px;
}

.btn:active {
  box-shadow: none;
  top: 4px;
  left: 4px;
}
